.img-footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    font-style: italic;
}
.img-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
article h4{
    margin-top: 8px;
}